@page "/example-4"

<h1>@heading</h1>

<p>
    <button @onclick="@(e => heading = "New heading!!!")">
        Update heading
    </button>
</p>

@code {
    private string heading = "Initial heading";

    @* Don't necessarily need a whole method definition for something small that is used once *@
    private void changeHeading(MouseEventArgs e)
    {
        heading = "New Heading!!!";
    }
}