@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="Do things once where possible" />

<h1>Date now</h1>
<div>
    The date and time now is: @DateTime.Now
</div>

<SurveyPrompt Title="What if I change it?" />


@* <Counter></Counter> *@

<Counter IncrementAmount="5" />
