@page "/example-5"

<h1>@heading</h1>

@for (var i = 1; i < 4; i++)
{
    var buttonNumber = i;

    <p>
        <button @onclick="@(e => UpdateHeading(e, buttonNumber))">
            Button #@i
        </button>

        @* This is the same thing but with curly braces allowing us to run multiple commands in the lambda expression *@
        @* <button @onclick="@(e => {
            // we can add more code here if we want, and it will run when you click the button
            UpdateHeading(e, buttonNumber);
            })">
            Button #@i
            </button> *@

        @* We can't sent the buttonNumber without using a lambda expression *@
        @* <button @onclick="UpdateHeading">
            Button #@i
            </button> *@

    </p>
}

@code {
    private string heading = "Select a button to learn its position";

    private void UpdateHeading(MouseEventArgs e, int buttonNumber)
    {
        heading = $"Selected #{buttonNumber} at {e.ClientX}:{e.ClientY}";
    }
}