@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    var username = "amillerman01";
    <h2>somehtml</h2>
}

<div class="text-center">
    <h1 class="display-4">My first web application!</h1>
    <p>
        The date and time right now STATICALLY is <strong>5/17/2022 1:30:50 PM</strong>
    </p>
    <p>
        The date and time right now DYNAMICALLY is <strong>@DateTime.Now</strong>
    </p>
    <p>
        The date and time right now at the prime meridian DYNAMICALLY <strong>@DateTime.UtcNow</strong>
    </p>
    <p>
        The username is @username
    </p>
</div>
